In [8]:
import re
import pandas as pd

In [9]:
# Insert your own csv file here
xpress_umts_df = pd.read_csv("<Your File goes here>")

In [11]:
xpress_umts_df.head()
csv_column = xpress_umts_df["Summary"]

In [12]:
mcc_mnc_pattern = r"\d{3} \d{2}"
imsi_pattern = r"IMSI \d+"
country_pattern = r"\] - (.*?) -"

In [13]:
countries = []
mcc_mncs = []
imsis = []

In [14]:
for row in csv_column:
    country_match = re.search(country_pattern, row)
    mcc_mnc_match = re.search(mcc_mnc_pattern, row)
    imsi_match = re.search(imsi_pattern, row)

    if country_match:
        country_name = country_match.group(1) + "-*"  # Add "-*" to the country name
    else:
        country_name = "Country not found"

    if mcc_mnc_match:
        mcc_mnc = mcc_mnc_match.group().replace(" ", "")  # Remove spaces in MCC MNC
    else:
        mcc_mnc = "MCCMNCnotfound"

    if imsi_match:
        imsi = imsi_match.group().split()[-1]
    else:
        imsi = "IMSI not found"

    # Append the extracted information to the respective lists
    countries.append(country_name)
    mcc_mncs.append(mcc_mnc)
    imsis.append(imsi)

In [15]:
extracted_data = pd.DataFrame({'Country': countries, 'MCC_MNC': mcc_mncs, 'IMSI': imsis})

In [16]:
names_of_xpress_sims = {
    20829: "fr cubic xpress",
    90131: "fr orange xpress",
    29506: "li cubic xpress",
    24007: "se tele2 xpress",
    52003: "th ais xpress",
    23433: "uk ee xpress"
}

In [17]:
extracted_data['Network Name'] = ''

In [18]:
for index, row in extracted_data.iterrows():
    imsi = row['IMSI']
    if imsi != 'IMSI not found':
        imsi = int(imsi)  # Convert IMSI to an integer for dictionary lookup
        if imsi in names_of_xpress_sims:
            extracted_data.at[index, 'Network_Name'] = names_of_xpress_sims[imsi]

In [19]:
extracted_data.head()

                 Country MCC_MNC   IMSI      Network Name
0            Argentina-*   72207  52003     th ais xpress
1                Ghana-*   62001  29506   li cubic xpress
2               Taiwan-*   46697  29506   li cubic xpress
3              Belgium-*   20610  90131  fr orange xpress
4  Hong Kong SAR China-*   45400  29506   li cubic xpress

In [20]:
# Insert where you want to export the new csv file here
extracted_data.to_csv("<Export file destination here>", index=False)